<% if @recipe.errors.full_messages.any? %>
  <% @recipe.errors.full_messages.each do |message| %>
    <label> <%= message %></label>
  <% end %>
<% end %>


<%= form_for @recipe do |f| %>

  <%= f.label :title, 'Título' %>
  <%= f.text_field :title %>

  <%= f.label :recipe_type_id, 'Tipo da Receita' %>
  <%= f.collection_select :recipe_type_id, @recipe_types, :id, :name, { prompt: "Tipo da receita" }, class: "browser-default" %>

  <%= f.label :cuisine_id, 'Cozinha' %>
  <%= f.collection_select :cuisine_id, @cuisines, :id, :name, { prompt: "Cozinha" }, class: "browser-default" %>

  <%= f.label :difficulty, 'Dificuldade' %>
  <%= f.text_field :difficulty %>

  <%= f.label :cook_time, 'Tempo de Preparo' %>
  <%= f.text_field :cook_time %>

  <%= f.label :ingredients, 'Ingredientes' %>
  <%= f.text_field :ingredients %>

  <%= f.label :method, 'Como Preparar' %>
  <%= f.text_field :method %>

  <%= f.label :photo, 'Foto da receita' %>
  <%= f.file_field :photo, accept: 'image/png,image/gif,image/jpeg' %>

  <%= f.submit 'Enviar', class: 'btn btn-default' %>
  <% end %>
