<h1><%= link_to recipe.title, recipe_path(recipe) %></h1>
<ul>
  <li><%= recipe.recipe_type.name %></li>
  <li><%= recipe.cuisine.name %></li>
  <li><%= recipe.difficulty %></li>
  <li><%= recipe.cook_time %> minutos</li>
  <li><%= recipe.method %></li>
  <li><%= recipe.ingredients %></li>
</ul>
