<%= form_for :recipe, url: recipes_path do |f| %>
    <div>
    <%= f.label :title, 'Título' %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :recipe_type, 'Tipo da Receita' %>
    <%= f.text_field :recipe_type %>
  </div>

  <div>
    <%= f.label :cuisine_id, 'Cozinha' %>
    <%= f.collection_select(:cuisine_id, @cuisines, :id, :name) %>
  </div>

  <div>
    <%= f.label :difficulty, 'Dificuldade' %>
    <%= f.text_field :difficulty %>
  </div>

  <div>
    <%= f.label :cook_time, 'Tempo de Preparo' %>
    <%= f.text_field :cook_time %>
  </div>

  <div>
    <%= f.label :ingredients, 'Ingredientes' %>
    <%= f.text_field :ingredients %>
  </div>

  <div>
    <%= f.label :method, 'Como Preparar' %>
    <%= f.text_field :method %>
  </div>

    <%= f.submit 'Enviar' %>

<% end %>
