<h1> Dados da receita: </h1>

<h1><%= @recipe.title %></h1>
<h3>'Detalhes'</h3>
<p><%= @recipe.recipe_type.name %></p>
<p><%= @recipe.cuisine.name %></p>
<p><%= @recipe.difficulty %></p>
<p><%= @recipe.cook_time %> minutos</p>
<h3>'Ingredientes'</h3>
<p><%= @recipe.ingredients %></p>
<h3>'Como Preparar'</h3>
<p><%= @recipe.method %>
<h3>Foto da receita: </h3>
<p><%= image_tag @recipe.photo.url %>  


<%= link_to 'Editar', edit_recipe_path(@recipe) %>
<%= link_to 'Voltar', root_path %>
