<h1>Novo tipo de cozinha</h1>

<%= flash[:error] %>

<%= form_for @cuisine, url: cuisines_path do |f| %>
<div>
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>
</div>

  <%= f.submit 'Enviar' %>
<% end %>
