<aside>
  <div class="cuisines-box">
    <h4>Cozinhas</h4>
    <ul class="cuisines">
      <% @cuisines.each do |cuisine| %>
        <li><%= link_to cuisine.name, cuisine_path(cuisine) %></li>
      <% end %>
    </ul>
  </div>

  <div class="recipe-type-box">
    <h4>Tipos de receita</h4>
    <ul class="recipe_type">
      <% @recipe_types.each do |recipe_type| %>
        <li><%= link_to recipe_type.name, recipe_type_path(recipe_type) %></li>
      <% end %>
    </ul>
  </div>

  <div class="easy-box">
    <h4>Dificuldade - Fácil</h4>
    <ul class="dificulty">
      <% @easy_recipes.each do |recipe| %>
        <li><%= link_to recipe.title, recipe_path(recipe) %></li>
      <% end %>
    </ul>
  </div>

  <div class="medium-box">
    <h4>Dificuldade - Médio</h4>
    <ul class="dificulty">
      <% @medium_recipes.each do |recipe| %>
        <li><%= link_to recipe.title, recipe_path(recipe) %></li>
      <% end %>
    </ul>
  </div>

  <div class="hard-box">
    <h4>Dificuldade - Difícil </h4>
    <ul class="dificulty">
      <% @hard_recipes.each do |recipe| %>
        <li><%= link_to recipe.title, recipe_path(recipe) %></li>
      <% end %>
    </ul>
  </div>
</aside>

<main>
  <div class="recipes">
    <% @recipes.each do |recipe| %>
     <%= render recipe %>
    <% end %>
  </div>
</main>
