
<main class="content">
  <article class="topic topic1 cuisines-box">
    <h4>Cozinhas</h4>
    <ul class="cuisines">
      <% @cuisines.each do |cuisine| %>
        <li><%= link_to cuisine.name, cuisine_path(cuisine) %></li>
      <% end %>
    </ul>
  </article>

  <article class="topic topic2 recipe-type-box">
    <h4>Tipos de receita</h4>
    <ul class="recipe_type">
      <% @recipe_types.each do |recipe_type| %>
        <li><%= link_to recipe_type.name, recipe_type_path(recipe_type) %></li>
      <% end %>
    </ul>
  </article>

  <article class="topic topic3 easy-box">
    <h4>Dificuldade - Fácil</h4>
    <ul class="dificulty">
      <% @easy_recipes.each do |recipe| %>
        <li><%= link_to recipe.title, recipe_path(recipe) %></li>
      <% end %>
    </ul>
  </article>

  <articles class="topic topic4 medium-box">
    <h4>Dificuldade - Médio</h4>
    <ul class="dificulty">
      <% @medium_recipes.each do |recipe| %>
        <li><%= link_to recipe.title, recipe_path(recipe) %></li>
      <% end %>
    </ul>
  </article>

  <article class="topic topic5 hard-box">
    <h4>Dificuldade - Difícil </h4>
    <ul class="dificulty">
      <% @hard_recipes.each do |recipe| %>
        <li><%= link_to recipe.title, recipe_path(recipe) %></li>
      <% end %>
    </ul>
  </article>
</main>

<aside class="sidebar">
  <div class="recipes">
    <% @recipes.each do |recipe| %>
     <%= render recipe %>
    <% end %>
  </div>
</aside>
