
<main class="content">
  <article class="topic topic1 cuisines-box">
    <h4>Cozinhas</h4>
    <dl class="cuisines">
      <% @cuisines.each do |cuisine| %>
        <dt><%= link_to cuisine.name, cuisine_path(cuisine) %></dt>
      <% end %>
    </dl>
  </article>

  <article class="topic topic2 recipe-type-box">
    <h4>Tipos de receita</h4>
    <dl class="recipe_type">
      <% @recipe_types.each do |recipe_type| %>
        <dt><%= link_to recipe_type.name, recipe_type_path(recipe_type) %></dt>
      <% end %>
    </dl>
  </article>

  <article class="topic topic3 easy-box">
    <h4>Dificuldade - Fácil</h4>
    <dl class="dificulty">
      <% @easy_recipes.each do |recipe| %>
        <dt><%= link_to recipe.title, recipe_path(recipe) %></dt>
      <% end %>
    </dl>
  </article>

  <articles class="topic topic4 medium-box">
    <h4>Dificuldade - Médio</h4>
    <dl class="dificulty">
      <% @medium_recipes.each do |recipe| %>
        <dt><%= link_to recipe.title, recipe_path(recipe) %></dt>
      <% end %>
    </dl>
  </article>

  <article class="topic topic5 hard-box">
    <h4>Dificuldade - Difícil </h4>
    <dl class="dificulty">
      <% @hard_recipes.each do |recipe| %>
        <dt><%= link_to recipe.title, recipe_path(recipe) %></dt>
      <% end %>
    </dl>
  </article>
</main>
