<aside>
  <div class="cuisines-box">
    <h3>Cozinhas</h3>
    <ul class="cuisines">
      <% @cuisines.each do |cuisine| %>
        <li><%= link_to cuisine.name, cuisine_path(cuisine) %></li>
      <% end %>
    </ul>
  </div>

  <div class="recipe-type-box">
    <h3>Tipos de receita</h3>
    <ul class="recipe_type">
      <% @recipe_types.each do |recipe_type| %>
        <li><%= link_to recipe_type.name, recipe_type_path(recipe_type) %></li>
      <% end %>
    </ul>
  </div>

  <div class="easy-box">
    <h3>Dificuldade - Fácil</h3>
    <ul class="dificulty">
      <% @easy_recipes.each do |recipe| %>
        <li><%= link_to recipe.title, recipe_path(recipe) %></li>
      <% end %>
    </ul>
  </div>

  <div class="medium-box">
    <h3>Dificuldade - Médio</h3>
    <ul class="dificulty">
      <% @medium_recipes.each do |recipe| %>
        <li><%= link_to recipe.title, recipe_path(recipe) %></li>
      <% end %>
    </ul>
  </div>

  <div class="hard-box">
    <h3>Dificuldade - Difícil </h3>
    <ul class="dificulty">
      <% @hard_recipes.each do |recipe| %>
        <li><%= link_to recipe.title, recipe_path(recipe) %></li>
      <% end %>
    </ul>
  </div>


<main>
  <div class="recipes">
    <div>
    <% @recipes.each do |recipe| %>
     <%= render recipe %>
    <% end %>
   </div>
</div>
</main>
