<h1> Resultado da busca por: <%= @search %> </h1>

<% if @recipes.empty? %>
  Nenhuma receita encontrada.
<% end %>

<% @recipes.each do |recipe| %>
<ul>
  <li><%= link_to recipe.title, recipe_path(recipe) %></li>
  <li><%= recipe.recipe_type.name %></li>
  <li><%= recipe.cuisine.name %></li>
  <li><%= recipe.difficulty %></li>
  <li><%= recipe.cook_time %> minutos</li>
  <li><%= recipe.method %></li>
  <li><%= recipe.ingredients %></li>
</ul>
<% end %>

<%= render 'home/search' %>
<%= link_to 'Voltar', root_path %>
