<h1> Resultado da busca por: <%= @recipe.title %> </h1>

<ul>
  <li><%= @recipe.recipe_type.name %></li>
  <li><%= @recipe.cuisine.name %></li>
  <li><%= @recipe.difficulty %></li>
  <li><%= @recipe.cook_time %> minutos</li>
  <li><%= @recipe.method %></li>
  <li><%= @recipe.ingredients %></li>
</ul>
