<h1>Tipo de receita: <%= @recipe_type.name %></h1>

<% if @recipe_type.recipes.empty? %>
  Nenhuma receita encontrada para este tipo de receitas
<% end %>

<%= @recipe_type.recipes.each do |recipe| %>
  <%= render recipe %>
<% end %>

<%= link_to 'Editar', edit_recipe_type_path(@recipe_type) %>

<%= link_to 'Voltar', root_path %>
