<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-default"> <!-- fixed top -->
      <div class="container">
        <div class="navbar-header">
        <h1><%= link_to 'CookBook', root_path %></h1>
        </div>
        <div class="navbar-right">
          <label class="navbar-text">Bem vindo ao CookBook</label>
          <%= render 'home/search' %>
          <ul class="nav navbar-nav navbar-right">
            <%= link_to 'Enviar uma receita', new_recipe_path, class: 'btn btn-primary', style: 'margin-top: 7px;' %>
            <%= link_to 'Ver todas receitas', all_recipes_path, class: 'btn btn-primary', style: 'margin-top: 7px;' %>
            <% if user_signed_in? %>
            <%= link_to 'Minhas receitas', my_recipes_recipes_path, class: 'btn btn-primary', style: 'margin-top: 7px;' %>
            <%= link_to 'Logout', destroy_user_session_path, method: 'delete', class: 'btn btn-primary', style: 'margin-top: 7px;'%>
            Olá, <%= current_user.email %>
            <% else %>
            <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary', style: 'margin-top: 7px;' %>
            <% end %>
          </ul>
        </nav>
    </div>
    </header>
    <br clear="all">
    <div class="container">
      <h4>Bem-vindo ao maior livro de receitas online!</h4>

      <% if flash[:error] %>
      <div class="row">
        <div class='alert alert-info'>
         <%= flash[:error] %>
       </div>
     </div>
      <% end %>

      <%= yield %>
    </div>
  </body>


<footer class="text-center footer">
  <div class="color-footer">
      <hr>
      <p>CookBook |Copyright 2017</p>
      <p> Written and coded by <a href="https://elizabethramos.github.io/about-me/" target="_blank"> Eliza Ramos Vieira</p>
    </hr>
  </div>
</footer>
</html>
